<div class="container content">

  <div class="page-header">
    <div style="float: right;">
      <select (change)="translate.use($event.target.value)">
        <option value="es">Español</option>
        <option value="fr">Français</option>
        <option value="en">English</option>
      </select>
    </div>

    <div class="container">
      <h1>
        Ruteo simple
      </h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a [routerLink]="['/home']" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/destino', '8']" class="nav-link">Destino</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/login']" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
              <a [routerLink]="['/protected']" class="nav-link">Protegido</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <h1>
      {{ title }} <b [innerHTML]="'HOLA' | translate"></b>
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">
fecha: {{ time | async}}
