<p>reservas-listado works!</p>

<a [routerLink]="['./',10]">Ir a detalle</a>
<a [routerLink]="['/login']">Login</a>

<div *ngFor="let service of api.getAll()">
    {{service.id}} - {{service.name}}
</div>